UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
IndentCaseLabels: true
IndentCaseBlocks: false